.container {
    margin:0;
    padding: 0;

}

.btn-page {
    margin:0;
    padding:0;
}

.thead .head-cell {
    font-size: medium;
    font-weight: bold;
}

.tbody .row .cell {
    font-size: medium;
}
