.wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.3s ease-in-out;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 120%);
    font-size: 16px;
    justify-content: center;
    background-color: #001B42;
    color: white;
    
}

.inner-header {
    
}

.inner-header ul {
    margin: 0;
    padding: 0;
    display: flex;
    height: var(--default-layout-header-height);
    align-items: stretch;
    width: var(--default-layout-header-width);
}

.inner-header ul li {
    position: static;
    display: flex;
    align-items: center;
    
    cursor: pointer;
    
}

.inner-header ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}
.inner-header ul li a:hover{
    color: #f7941e;
    
}

.logo {
    width: 300px;
    justify-content: center;
}

.logo img {
    cursor: pointer;
    opacity: 1;
   width: 110px;
   height: var(--default-layout-header-height);
  background-repeat: no-repeat; /* Ngăn lặp lại ảnh nền */
  background-position: center center; /* Căn giữa logo trong phần tử chứa */
}

.gioi-thieu {
    width: 150px;
    justify-content: center;

}
.tra-cuu {
    width: 150px;
    justify-content: center;

}

.dich-vu {
    width: 150px;
    justify-content: center;

}

.tin-tuc {
    width: 150px;
    justify-content: center;

}

.login {
    flex: 1;
    justify-content: flex-end;

}

.user {
    width: 200px;
    justify-content: center;
}
.inputButton:hover {
    background-color:#f7941e ;
    opacity:1 ;
}