body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-bitter: Bitter;
  --font-raleway: Raleway;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-ivory: #fffff0;
  --color-black: #000;
}
